body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100%; /* This creates a perfect square */
    position: relative;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
}

.grid-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .grid-item {
        font-size: 1em;
    }


}


@media (max-width: 800px) {
    #guide{
        display: none;
    }
}

#guide{
    display: default;
}

.grid-green{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100%; /* This creates a perfect square */
    position: relative;
    border-radius: 50%;
    background-color: green;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
}

.grid-lightblue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100%; /* This creates a perfect square */
    position: relative;
    border-radius: 50%;
    background-color: lightblue;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
}

.guide-text{
    color: white;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}