/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: skyblue;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    overflow: hidden;
    font-size: large;
}

#myCanvas {
    position: fixed;
    /* Fix it to the viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /* Send it behind everything */
}

html {
    overflow: auto;
    /* or remove this rule entirely */
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    text-align: center;
    z-index: 0;
    /* Bring it to the front */
}

h2 {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    transition: transform 0.3s ease;
    /* Add smooth transition */
}

.grid-item:hover {
    transform: scale(1.05);
    /* Slight enlargement when hovered */
}

/* Button Styling */
button {
    background-color: #FF6FC3;
    /* Pink background to match 90s playful look */
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth transitions */
    margin-top: 20px;
}

/* Button hover effect */
button:hover {
    background-color: #FFEB3B;
    /* Change to yellow on hover */
    transform: scale(1.1);
    /* Slight enlargement when hovered */
    color: black;
}

section {
    margin-top: 20px;
}

a {
    color: #9B4DFF;
}


/* Media queries for responsive design */
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.scrollable-content {
    overflow-y: scroll;
    height: 40%;
}

.grid-item:nth-child(1) {
    background-color: #FFC0CB;
    /* Pink */
}

.grid-item:nth-child(2) {
    background-color: #FFFF00;
    /* Yellow */
}

.grid-item:nth-child(3) {
    background-color: #ADD8E6;
    /* Light Blue */
}

.grid-item:nth-child(4) {
    background-color: #FFA500;
    /* Orange */
}

.grid-item:nth-child(5) {
    background-color: #90EE90;
    /* Light Green */
}

.grid-item:nth-child(6) {
    background-color: #800080;
    /* Purple */
}

.grid-item:nth-child(7) {
    background-color: #F08080;
    /* Light Coral */
}

.grid-item:nth-child(8) {
    background-color: #A52A2A;
    /* Brown */
}


.grid-item b {
    font-size: 25px;
}

.grid-item:hover b {
    font-size: 18px;
    transition: all 0.3s ease;
}