/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00B9FF;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

.container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    transition: transform 0.3s ease;
    /* Add smooth transition */
}

/* Hover effect for grid items */
.grid-item:hover {
    transform: scale(1.2);
    /* Scale the item by 1.2 times */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
button {
    background-color: #FF6FC3;
    /* Pink background to match 90s playful look */
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Smooth transitions */
    margin-top: 20px;
}

/* Button hover effect */
button:hover {
    background-color: #FFEB3B;
    /* Change to yellow on hover */
    transform: scale(1.1);
    /* Slight enlargement when hovered */
    color: black;
}

section {
    margin-top: 20px;
}

a {
    color: #9B4DFF;
}


/* Media queries for responsive design */
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.scrollable-content{
    overflow-y: scroll;
    height: 40%;
}

.grid-item:nth-child(1) {
    background-color: #FF6FC3; /* Hot Pink */
}

.grid-item:nth-child(2) {
    background-color: #FFEB3B; /* Neon Yellow */
}

.grid-item:nth-child(3) {
    background-color: #00FF00; /* Neon Green */
}

.grid-item:nth-child(4) {
    background-color: #00FFFF; /* Cyan */
}

.grid-item:nth-child(5) {
    background-color: #FF00FF; /* Neon Purple */
}

.grid-item:nth-child(6) {
    background-color: #FF4500; /* Neon Orange */
}

.grid-item:nth-child(7) {
    background-color: #FFFF00; /* Bright Yellow */
}

.grid-item:nth-child(8) {
    background-color: #FF6347; /* Tomato Red */
}

.grid-item b{
    font-size: 25px;
}

.grid-item:hover b{
    font-size: 18px;
    transition: all 0.3s ease;
}

.grid-item p {
    opacity: 0;
    visibility: hidden; /* Ensure it's not visible or interactable */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.grid-item:hover p {
    opacity: 1;
    visibility: visible; /* Make the <p> tag visible */
}