* {
    margin: 0px;
    padding: 0px;
    font-family: "Playwrite DE Grund", cursive;
}

body {
    background-image: url('./assets/background.jpg'); /* Use url() with the correct syntax */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}


body * {
    position: relative; /* Ensure content appears above the tint */
    z-index: 2;
}

h1 {
    color: white;
    
}

main {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make main take full viewport height */
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400

.playwrite-de-grund-<uniquifier> {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
